body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select:text;
    background: #ecf0f3;
}

.container {
    margin-left: 1.8em;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 13px 13px 20px #cbced1,
        -13px -13px 20px #ffffff;
}

.content {
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row button {
    width: 80px;
    height: 50px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    box-shadow: 4px 4px 7px #00000020,
        -5px -5px 8px #ffff;
}

.row button:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1);
    color: white;
    background: rgb(161, 157, 157);
}

.display #screen {
    margin-bottom: .5em;
    width: auto;
    height: 90px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
        inset -8px -8px 8px #ffffff;
}

.block1{
    position: absolute;
    display: none;
    top: 421px;
    z-index: 1;
    background-color: #f5f5f5;
    width: 365px;
    height: 83px;
    left: 655px;
    cursor: pointer;
}

.block1 .first{
    display: flex;
}

.block1 .btn2 {
    width: 365px;
    display: flex;
    justify-content: center;
    height: 41px;
    border: 1px solid #919191;
    text-align: center;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 7px;
    font-size: 14px;
}

.trigono:hover .block1  {
    display: block;
    background-color: grey;
}

#eval {
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #37aed6,
        inset -5px -5px 8px #00ace6;
}

#eval:hover {
    box-shadow: inset 5px 5px 8px #00ace6,
        inset -5px -5px 8px #00ace6;
}

.btn{
    color: rgb(4, 99, 4);   
}

.ce {
    
    color: red;
}

.ce:hover {
    color: white;
    background-color: rgb(161, 157, 157);
    box-shadow: inset 5px 5px 8px  #cbced1,
        
}